<p>You can do filter table data, in this case with observables and our <code>NgbHighlight</code> component used in
  Typeahead</p>

<form>
  <div class="form-group form-inline">
    Full text search: <input class="form-control ml-2" type="text" [formControl]="searchTextInput" />
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">Zonename</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let zone of tablezones; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <ngb-highlight [result]="zone.zonecode | number" [term]="searchTextInput.value"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="zone.zonename" [term]="searchTextInput.value"></ngb-highlight>
      </td>
    </tr>
  </tbody>
</table>



<router-outlet></router-outlet>
